# Testing
pytest
pytest-mock

# Monitoring
flower

# Async & Performance
gevent
faust-cchardet
aiodns

# Configuration
pydantic-settings
python-dotenv

# Database
sqlalchemy
psycopg2-binary
alembic

# Scraping & Async
aiohttp
beautifulsoup4
tenacity
trafilatura 
lxml_html_clean 

# Task Queue
celery
redis

# Dashboard
streamlit
pandas
plotly

# API
fastapi # TODO: Adding FastAPI for API development
uvicorn # ASGI server for FastAPI
httpx # HTTP client for async requests