# Testing
pytest
pytest-mock
httpx  # Needed for API testing

# Monitoring
# flower (Disabled)

# Async & Performance
gevent
faust-cchardet
aiodns

# Configuration
pydantic-settings
python-dotenv

# Database
sqlalchemy
psycopg2-binary
alembic

# Scraping & Async
aiohttp
requests  # Explicitly added (used in AI client & Scraper)
beautifulsoup4
tenacity
trafilatura
lxml_html_clean

# Task Queue
celery
redis

# Dashboard
streamlit
pandas
plotly    # Needed for the new Charts

# API
fastapi
uvicorn